<!doctype html>
<html lang="en">
    <head>
        $if(noindex)$
        <meta name="robots" content="noindex">
        $endif$

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        $if(canonical)$
        <link rel="canonical" href="$canonical$" />
        $else$
        <link rel="canonical" href="$root$$url$" />
        $endif$

        $if(homepage)$
        <title>THE PHOTON SPHERE</title>
        $else$
        <title>$title$ - THE PHOTON SPHERE</title>
        $endif$

        $if(meta_description)$
        <meta name="description" content="$meta_description$" />
        $endif$

        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Dosis:400,500,700&display=swap" rel="stylesheet">

        <script>
         window.MathJax = {
             tex: {
                 macros: {
                     diffp: ["{\\frac{\\partial #1}{\\partial #2}}", 2]
                 }
             }
         };
        </script>
        <script type="text/javascript" id="MathJax-script" async
                src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
        </script>
        <script src="https://kit.fontawesome.com/2f54fe6e45.js" async></script>
    </head>
    <body>
        <header class="blog-title">
            <div class="blog-title-container">
                <a href="/">THE PHOTON SPHERE</a>
            </div>
        </header>

        <nav>
            <div class="sidebar-container" >
                <a class="" href="/">Home</a>
                <a href="#about">About</a>
                <a href="/archive.html">Archive</a>
                <a href="/rss.xml">RSS</a>
            </div>
        </nav>

        <main role="main">
            <div class="main-container">
                $body$
            </div>
        </main>

        <footer id="about">
            <section class="footer-box" >
                $partial("about/about.html")$
            </section>
            <section class="footer-box" >
                $partial("about/contact.html")$
            </section>
            <section class="footer-box">
                $partial("about/this-site.html")$
            </section>
        </footer>
    </body>
</html>
