<!doctype html>
<html lang="en">
  <head>
    $if(noindex)$
    <meta name="robots" content="noindex">
    $endif$

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    $if(canonical)$
    <link rel="canonical" href="$canonical$" />
    $else$
    <link rel="canonical" href="$root$$url$" />
    $endif$

    $if(homepage)$
    <title>THE PHOTON SPHERE</title>
    $else$
    <title>$title$ - THE PHOTON SPHERE</title>
    $endif$

    <meta name="keywords" content="$keywords$" />
    $if(meta_description)$
    <meta name="description" content="$meta_description$" />
    $endif$

    <!-- <link rel="stylesheet" href="/css/default.css" /> -->
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
    <link rel="stylesheet" href="/css/syntax.css" />

    <script>
      window.MathJax = {
          tex: {
              macros: {
                  diffp: ["{\\frac{\\partial #1}{\\partial #2}}", 2]
              }
          }
      };
    </script>
    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>
    <script src="https://kit.fontawesome.com/2f54fe6e45.js" async></script>
  </head>
  <body>
    <div class="relative min-h-screen md:flex">
      
      <div class="md:hidden px-3 pt-2">
        <div class="md:hidden justify-between flex rounded-t-lg rounded-b-none">
          <a href="/" class="block pl-2 pt-1 pb-0 text-black text-xl uppercase no-underline">The Photonsphere</a>
          <button class="mobile-menu-button pt-0 pr-2 focus:outline-none">
            <svg class="h-5 w-5 text-black" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
        <hr class="mt-5"/>
      </div>

      <div class="sidebar bg-black white md:bg-white text-white md:text-black sm:w-64 md:w-1/4 space-y-6 py-7 px-2 absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out lg:text-lg xl:text-xl">
        <div class="text-white md:text-black flex items-center space-x-2 px-4">
          <span class="md:text-xl lg:text-2xl xl:text-3xl uppercase">The Photonsphere</span>
        </div>
        <nav>
          <a href="/" class="block py-2.5 px-4 rounded transition duration-200 text-white md:text-black hover:bg-gray-700 hover:text-gray-200 uppercase">
            home
          </a>
          <a href="/archive.html" class="block py-2.5 px-4 rounded transition duration-200 text-white md:text-black hover:bg-gray-700 hover:text-gray-200 uppercase">
            archive
          </a>
          <a href="/privacy.html" class="block py-2.5 px-4 rounded transition duration-200 text-white md:text-black hover:bg-gray-700 hover:text-gray-200 uppercase">
            privacy notice
          </a>
          <a href="/gnupg.html" class="block py-2.5 px-4 rounded transition duration-200 text-white md:text-black hover:bg-gray-700 hover:text-gray-200 uppercase">
            PGP Public Key
          </a>
        </nav>
      </div>
      
      <div class="flex-auto px-2 md:px-5 lg:px-10 prose sm:max-w-none md:max-w-full xl:max-w-screen-xl lg:text-lg">
        <div class="px-3 pt-0 md:pt-2">
          <div class="px-0 py-0">
            $body$
          </div>
        </div>
        <hr class="mt-5"/>
        <div class="footer">
          <div id="about" class="text-sm">
            $partial("about/about.html")$
          </div>
          <div class="text-sm">
            $partial("about/contact.html")$
          </div>
          <div class="text-sm">
            $partial("about/this-site.html")$
          </div>
          <div class="footer text-center text-xs">
            Powered by <a href="http://jaspervdj.be/hakyll">hakyll</a> &mdash; <a href="https://nixos.org/">NixOS</a> + <a href="https://xmonad.org/">xmonad</a>
          </div>
        </div>
      </div>
      <script src="/js/site.js"></script>
    </div>
  </body>
</html>
