<h1>A blog </h1>
<h2>Previous posts</h2>

<ul>
    $for(posts)$
        <li class="teaser">
            <article>
                <div class="article-title">
                    <h1><a class="post-title-link" href="$url$">$title$</a></h1>
                    <div class="byline" >
                        Posted $date$
                        $if(author)$
                        by $author$
                        $endif$
                    </div>
                    <div class="tags mb-2" >
                        $if(tags)$
                        Tags: $tags$
                        $endif$
                    </div>
                </div>
                <div class="article-body">
                    $teaser$
                </div>
                <a href="$url$">Read more</a>
            </article>
        </li>
    $endfor$
</ul>
